@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
body {
  background: url("./assets//back.png") no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.tape,
.tape1 {
  z-index: 3;
  width: 300%;
  bottom: 100px;
  display: flex;
  color: white;
  padding: 10px 0;
  font-size: 22px;
  position: absolute;
  align-items: center;
  transform: rotate(5deg);
  background-color: transparent;
  justify-content: space-between;

  @media (max-width: 1420px) {
    width: 350%;
    padding: 7px 0;
  }

  @media (max-width: 1050px) {
    width: 430%;
    padding: 5px 0;
    bottom: 120px;
  }

  @media (max-width: 800px) {
    bottom: 70px;
  }

  @media (max-width: 600px) {
    width: 700%;
    padding: 3px 0;
    font-size: 18px;
    transform: rotate(7deg);
  }

  @media (max-width: 420px) {
    bottom: 40px;
  }

  @media (max-width: 400px) {
    padding: 0;
    width: 850%;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;

    @media (max-width: 500px) {
      font-size: 12px;
    }

    @media (max-width: 400px) {
      font-size: 11px;
    }
  }
}

.tape1 {
  z-index: 1;
  transform: rotate(-5deg);

  @media (max-width: 600px) {
    transform: rotate(-7deg);
  }
}

.crimson,
.grey {
  z-index: 2;
  width: 110%;
  bottom: 100px;
  display: flex;
  padding: 10px 0;
  font-size: 22px;
  color: transparent;
  position: absolute;
  align-items: center;
  transform: rotate(5deg);
  background-color: #e1053f;
  justify-content: space-between;

  @media (max-width: 1420px) {
    padding: 7px 0;
  }

  @media (max-width: 1050px) {
    padding: 5px 0;
    bottom: 120px;
  }

  @media (max-width: 800px) {
    bottom: 70px;
  }

  @media (max-width: 600px) {
    padding: 3px 0;
    font-size: 18px;
    transform: rotate(7deg);
  }

  @media (max-width: 420px) {
    bottom: 40px;
  }

  @media (max-width: 400px) {
    padding: 0;
  }
}

.tape1 {
  z-index: 1;
  transform: rotate(-5deg);

  @media (max-width: 600px) {
    transform: rotate(-7deg);
  }
}

.crimson,
.grey {
  z-index: 2;
  width: 110%;
  bottom: 100px;
  display: flex;
  padding: 10px 0;
  font-size: 22px;
  color: transparent;
  position: absolute;
  align-items: center;
  transform: rotate(5deg);
  background-color: #e1053f;
  justify-content: space-between;

  @media (max-width: 1420px) {
    padding: 7px 0;
  }

  @media (max-width: 1050px) {
    padding: 5px 0;
    bottom: 120px;
  }

  @media (max-width: 800px) {
    bottom: 70px;
  }

  @media (max-width: 600px) {
    padding: 3px 0;
    font-size: 18px;
    transform: rotate(7deg);
  }

  @media (max-width: 420px) {
    bottom: 40px;
  }

  @media (max-width: 400px) {
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: transparent;

    @media (max-width: 500px) {
      font-size: 12px;
    }

    @media (max-width: 400px) {
      font-size: 11px;
    }
  }
}

.grey {
  z-index: 0;
  transform: rotate(-5deg);
  background-color: #8c8c8c;

  @media (max-width: 600px) {
    transform: rotate(-7deg);
  }
}
